defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8080
    # Define Access Control Lists (ACLs) based on path
    acl url_auth path_beg /api/auth
    acl url_user path_beg /api/users
    acl url_event path_beg /api/events
    acl url_booking path_beg /api/bookings

    # Route traffic
    use_backend auth_back if url_auth
    use_backend user_back if url_user
    use_backend event_back if url_event
    use_backend booking_back if url_booking

backend auth_back
    server auth pulsar-auth-service:8080

backend user_back
    server user pulsar-user-service:8080

backend event_back
    server event pulsar-event-service:8080

backend booking_back
    server booking pulsar-booking-service:8080